<mat-drawer-container class="shell-container" autosize >
    <mat-drawer-content>
        <div class="sidenav-icons">
            <button type="button" mat-button (click)="drawer.toggle();">
                <mat-icon>menu</mat-icon>
            </button>
            <button mat-raised-button [color]="tabToShow >= 3 && tabToShow < 4 ? 'accent': 'primary'" (click)="changeTab(3.1)">
                <mat-icon>groups</mat-icon>
            </button>

            <button mat-raised-button [color]="tabToShow >= 2 && tabToShow < 3 ? 'accent': 'primary'" (click)="changeTab(2)">
                <mat-icon>layers</mat-icon>
            </button>

            <button mat-raised-button [color]="tabToShow >= 1 && tabToShow < 2 ? 'accent': 'primary'" (click)="changeTab(1)">
                <mat-icon>local_offer</mat-icon>
            </button>
            
            <button mat-raised-button [color]="tabToShow >= 4 && tabToShow < 5 ? 'accent': 'primary'" (click)="changeTab(4)">
                <mat-icon>attach_money</mat-icon>
            </button>
            
            <button mat-raised-button [color]="tabToShow >= 5 && tabToShow < 6 ? 'accent': 'primary'" (click)="changeTab(5.1)">
                <mat-icon>history</mat-icon>
            </button>
            
            <button mat-raised-button [color]="tabToShow >= 6 && tabToShow < 7 ? 'accent': 'primary'" (click)="changeTab(6.11)">
              <mat-icon>bar_charts</mat-icon>
          </button>

            <button mat-raised-button class="info-button">
                <mat-icon>info</mat-icon>
            </button>
        </div>
        <div class="body">
          <div class="tabs">
            <div *ngIf="tabToShow>=3 && tabToShow<4" class="buttons">
              <button mat-raised-button (click)="changeTab(3.1)" [color]="tabToShow === 3.1 ? 'accent': 'primary'">
                <mat-icon>groups</mat-icon>Dobavljaci
              </button>
              <button mat-raised-button (click)="changeTab(3.2)" [color]="tabToShow === 3.2 ? 'accent': 'primary'">
                <mat-icon>groups</mat-icon>Kupci
              </button>
              <button mat-raised-button (click)="changeTab(3.3)" [color]="tabToShow === 3.3 ? 'accent': 'primary'">
                <mat-icon>groups</mat-icon>Treca lica
              </button>
            </div>
            
            <div *ngIf="tabToShow>=5 && tabToShow<6" class="buttons">
              <button mat-raised-button (click)="changeTab(5.1)" [color]="tabToShow === 5.1 ? 'accent': 'primary'">
                <mat-icon>history</mat-icon> Ulaznih Faktrura
              </button>
              <button mat-raised-button (click)="changeTab(5.2)" [color]="tabToShow === 5.2 ? 'accent': 'primary'">
                <mat-icon>history</mat-icon> Izdatnica repromaterijala
              </button>
              <button mat-raised-button (click)="changeTab(5.3)" [color]="tabToShow === 5.3 ? 'accent': 'primary'">
                <mat-icon>history</mat-icon> Predatnica
              </button>
              <button mat-raised-button (click)="changeTab(5.4)" [color]="tabToShow === 5.4 ? 'accent': 'primary'">
                <mat-icon>history</mat-icon> Izlaznih faktura
              </button>
            </div>
            <div *ngIf="tabToShow>=6 && tabToShow<7" class="buttons">
              <button mat-raised-button (click)="changeTab(6.11)" [color]="tabToShow >= 6.11 && tabToShow < 6.2 ? 'accent': 'primary'">
                <mat-icon>bar_charts</mat-icon> Moja dugovanja
              </button>
              <button mat-raised-button (click)="changeTab(6.21)" [color]="tabToShow >= 6.2 && tabToShow < 6.3 ? 'accent': 'primary'">
                <mat-icon>bar_charts</mat-icon> Moje prodaje
              </button>
              <button mat-raised-button (click)="changeTab(6.3)" [color]="tabToShow === 6.3 ? 'accent': 'primary'">
                <mat-icon>bar_charts</mat-icon> Ukupno poslovanje
              </button>
            </div>
          </div>
          
          <div class="subtabs">
            <div *ngIf="tabToShow>=6.1 && tabToShow<6.2" class="buttons">
              <button mat-raised-button (click)="changeTab(6.11)" [color]="tabToShow === 6.11 ? 'accent': 'primary'" >
                <mat-icon>file_copy</mat-icon>Fakturisani troškovi
              </button>
              <button mat-raised-button (click)="changeTab(6.12)" [color]="tabToShow === 6.12 ? 'accent': 'primary'" >
                <mat-icon>file_copy</mat-icon>Ostali troškovi
              </button>
            </div>
            
            <div *ngIf="tabToShow>=6.2 && tabToShow<6.3" class="buttons">
              <button mat-raised-button (click)="changeTab(6.21)" [color]="tabToShow === 6.21 ? 'accent': 'primary'" >
                <mat-icon>file_copy</mat-icon>Fakturisane prodaje
              </button>
              <button mat-raised-button (click)="changeTab(6.22)" [color]="tabToShow === 6.22 ? 'accent': 'primary'" >
                <mat-icon>monetization_on</mat-icon>Gotovinske prodaje
              </button>
            </div>
          </div>
          <router-outlet ></router-outlet>
          <!-- <app-products *ngIf="tabToShow === 1"></app-products>
          <app-raws *ngIf="tabToShow===2"></app-raws>
          <app-companies *ngIf="tabToShow >= 3 && tabToShow < 4" [tabToShow]="tabToShow"></app-companies>
          <app-sell *ngIf="tabToShow === 4"></app-sell>
          <app-history *ngIf="tabToShow >= 5.1 && tabToShow < 6" [tabToShow]="tabToShow"></app-history>
          <app-bussines-flow *ngIf="tabToShow >= 6 && tabToShow < 7" [shownTab]="tabToShow"></app-bussines-flow> -->
        </div>
    </mat-drawer-content>
    <mat-drawer #drawer  mode="side">
      <div class="sidenav-text">
        <button type="button" mat-button (click)="drawer.toggle();">
            -
        </button>
        
        <button mat-raised-button>
          Korisnici
        </button>
          <button mat-raised-button>
          Sirovine
        </button>
        <button mat-raised-button>
          Proizvodi
        </button>
        <button mat-raised-button>
          Prodaja
        </button>
        <button mat-raised-button>
          Istorija
        </button>
        <button mat-raised-button>
          Poslovanje
        </button>
        
      </div>
    </mat-drawer>
  
</mat-drawer-container>
