.buyer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.customer{
    display: flex;
    flex-direction: row;
    gap: 50px;
    flex-wrap: wrap;

}

.customer-picker{
    overflow-y: auto;
}


.products{
    display: flex;
    flex-direction: row;
    gap: 50px;
    overflow: hidden;
}

.product-price {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-price .package-type{
    display: flex;
    flex-direction: column;
}
.product-options-end{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.product-options{
    display: flex;
    flex-direction: column;
}

.product-options .save-btn{
    height: 100%;
}
.sell-table{
    margin-top: 50px;
}
.total-div{
    display: flex;
    padding-top: 50px;
}
.total-end{
    display: flex;
    justify-content: flex-start;
}

.total span{
    padding: 10px;
}
.property{
    display: flex;
    flex-direction: row;
}
.label{
    width: 50%;
    text-align: right;
}
.property span.value{
    width: 50%;
    font-weight: bold;
    text-align: center;
    justify-content: center;
}

.final-save-btn{
    background-color: green;
    color: white;
}

.final-options{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}