.company{
    display: flex;
    flex-direction: column;
   
    min-width: 300px;
    padding: 10px;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    min-height: 100px;
}

.logo img{

    max-width: 100px;
}
.info{
    display: flex;
    flex-direction: column;
}
.property{
    display: flex;
    flex-direction: row;
}

.property .label{
    font-size: small;
    color: grey;
    width: 20%;
    text-align: right;
    padding: 5px;
}

.property .value{
    font-size: medium;
    color: black;
    width: 80%;
    padding: 5px;
}
