<mat-card class="company">
    <div class="logo">
        <img src="../../../../assets/excel.png"/>
    </div>
    <div class="info">
        <div class="property">
            <span class="label"> Dobavljač </span>
            <span class="value"> {{invoice.supplierName}} </span>
        </div>
        <div class="property">
            <span class="label"> Kupac </span>
            <span class="value"> {{invoice.customerName}} </span>
        </div>
        <div class="property">
            <span class="label"> Datum </span>
            <span class="value"> {{invoice.date}} </span>
        </div>
        <div class="property">
            <span class="label"> Iznos </span>
            <span class="value"> {{invoice.valueTotal}} </span>
        </div>
    </div>
</mat-card>