.body{
    height: 100vh;
    overflow: auto;
}
.title{
    display: flex;
    flex-direction: row;
}

.selects{
    display: flex;
    flex-direction: column;
}

.single-raw-info{
    display: flex;
    flex-direction: row;
    gap: 20px;
    overflow: hidden;
}
.info{
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.options{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.add-btn{
    height: 100%;
}

.total-div{
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
}
.total-end{
    display: flex;
    justify-content: flex-start;
}

.total span{
    padding: 10px;
}
.property{
    display: flex;
    flex-direction: row;
}
.label{
    width: 50%;
    text-align: right;
}
.property span.value{
    width: 50%;
    font-weight: bold;
    text-align: center;
    justify-content: center;
}

.final-save-btn{
    background-color: green;
    color: white;
}

.final-options{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.company-picker{
    display: flex;
    width: 100%;
    overflow: hidden;
}

.categories-buttons{
    
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 30px;
}
.warnings{
    color:red;
    padding-right: 50px;
}

.generalInfoForm{
    display: flex;
    justify-content: space-between;
}

.invoices-table-div{
    width: 60%;
    flex: 0 0 auto;
    
}