.product-picker{
    display: flex;
    flex-direction: row;
    gap: 50px;
    overflow-y: hidden;
    height: 100%;
}

.product-picker-input{
    width: 100%;
}

.product-picker-table{
    width: 100%;
    height: 100px;
    overflow-y: auto;

}

.example-full-width {
    width: 100%;
  }

  
.row-is-selected{
    background-color: #673ab7;
}

.row-is-selected td{
    color: white;
}