<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
  
    <!-- Weight Column -->
    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> redni br. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Naziv </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    
    <!-- Weight Column -->
    <ng-container matColumnDef="count">
        <th mat-header-cell *matHeaderCellDef> Količina( kom. ) </th>
        <td mat-cell *matCellDef="let element"> {{element.count}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="price_single">
      <th mat-header-cell *matHeaderCellDef> Cena po komadu </th>
      <td mat-cell *matCellDef="let element"> {{element.price_single}} </td>
    </ng-container>
    
    <!-- Weight Column -->
    <ng-container matColumnDef="price_total">
        <th mat-header-cell *matHeaderCellDef> Ukupna cena (bez pdv-a)</th>
        <td mat-cell *matCellDef="let element"> {{element.price_total}} </td>
      </ng-container>
      
    <!-- Weight Column -->
    <ng-container matColumnDef="rabat">
        <th mat-header-cell *matHeaderCellDef> Rabat </th>
        <td mat-cell *matCellDef="let element"> {{element.rabat}} </td>
      </ng-container>
      
    <!-- Weight Column -->
    <ng-container matColumnDef="discount">
        <th mat-header-cell *matHeaderCellDef> Akcija </th>
        <td mat-cell *matCellDef="let element"> {{element.discount}} </td>
      </ng-container>
      
    <!-- Weight Column -->
    <ng-container matColumnDef="osnovica_pdv_a">
        <th mat-header-cell *matHeaderCellDef> Osnovica pdv-a</th>
        <td mat-cell *matCellDef="let element"> {{element.osnovica_pdv_a}} </td>
      </ng-container>
      
    <!-- Weight Column -->
    <ng-container matColumnDef="pdv">
        <th mat-header-cell *matHeaderCellDef> Iznos pdv-a ( % ) </th>
        <td mat-cell *matCellDef="let element"> {{element.pdv}} </td>
      </ng-container>
      
    <!-- Weight Column -->
    <ng-container matColumnDef="price_pdv">
        <th mat-header-cell *matHeaderCellDef> Vrednost dobara sa PDV-om</th>
        <td mat-cell *matCellDef="let element"> {{element.price_pdv}} </td>
      </ng-container>
      
    <!-- Weight Column -->
    <ng-container matColumnDef="price_single_no_pdv">
        <th mat-header-cell *matHeaderCellDef> Cena po komadu be PDV-a</th>
        <td mat-cell *matCellDef="let element"> {{element.price_single_no_pdv}} </td>
      </ng-container>
      
    <!-- Weight Column -->
    <ng-container matColumnDef="price_single_pdv">
        <th mat-header-cell *matHeaderCellDef> Cena po komadu sa PDV-om </th>
        <td mat-cell *matCellDef="let element"> {{element.price_single_pdv}} </td>
    </ng-container>

    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let row" >
            <button mat-raised-button color="accent" (click)="deleteProduct(row)"> 
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr 
      mat-row
      (click)="selectedRow = clickRow(row);"
      [class.row-is-selected]="isRowSelected(row)"
      style="cursor:pointer;"
      *matRowDef="let row; columns: displayedColumns;"
    ></tr>
  </table>
